.wrapper {
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
  position: relative;
  height: 180px;
  margin-top: 1rem;
  overflow: hidden;
  background: white;
  margin: 0 auto 0 auto;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes slideLeft {
  0% {
    left: 120%;
  }
  100% {
    left: -120%;
  }
}

.item {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
  animation: slideLeft 60s linear infinite; /* réduire la durée */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: transform 0.6s ease;
  will-change: transform;
}

.item:hover {
  transform: scale(1.05);
}

/* Animation delays pour 18 items */
.item1  { animation-delay: calc(60s / 17 * (17 - 1) * -1); }
.item2  { animation-delay: calc(60s / 17 * (17 - 2) * -1); }
.item3  { animation-delay: calc(60s / 17 * (17 - 3) * -1); }
.item4  { animation-delay: calc(60s / 17 * (17 - 4) * -1); }
.item5  { animation-delay: calc(60s / 17 * (17 - 5) * -1); }
.item6  { animation-delay: calc(60s / 17 * (17 - 6) * -1); }
.item7  { animation-delay: calc(60s / 17 * (17 - 7) * -1); }
.item8  { animation-delay: calc(60s / 17 * (17 - 8) * -1); }
.item9  { animation-delay: calc(60s / 17 * (17 - 9) * -1); }
.item10 { animation-delay: calc(60s / 17 * (17 - 10) * -1); }
.item11 { animation-delay: calc(60s / 17 * (17 - 11) * -1); }
.item12 { animation-delay: calc(60s / 17 * (17 - 12) * -1); }
.item13 { animation-delay: calc(60s / 17 * (17 - 13) * -1); }
.item14 { animation-delay: calc(60s / 17 * (17 - 14) * -1); }
.item15 { animation-delay: calc(60s / 17 * (17 - 15) * -1); }
.item16 { animation-delay: calc(60s / 17 * (17 - 16) * -1); }
.item17 { animation-delay: calc(60s / 17 * (17 - 17) * -1); }

/* Responsiveness */
@media screen and (max-width: 1200px) {
  .wrapper { height: 100px; }
  .item { width: 80px; height: 80px; }
}
@media screen and (max-width: 992px) {
  .wrapper { height: 90px; }
  .item { width: 70px; height: 70px; }
}
@media screen and (max-width: 768px) {
  .wrapper { height: 80px; }
  .item { width: 60px; height: 60px; }
}
@media screen and (max-width: 576px) {
  .wrapper { height: 60px; }
  .item { width: 40px; height: 40px; }
}
