.wrapper {
  width: 100%;
  margin-inline: auto;
  position: relative;
  height: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes slideLeft {
  0% {
    left: 140%;
  }
 
  100% {
    left: -140%;
  }
}

.item {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: slideLeft 60s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: transform 0.6s ease;
  will-change: transform;
  margin: 0 5rem;
}

.item:hover {
  transform: scale(1.05);
}

/* Animation delays pour 18 items */
.item1  { animation-delay: calc(60s / 18 * (18 - 1) * -1); }
.item2  { animation-delay: calc(60s / 18 * (18 - 2) * -1); }
.item3  { animation-delay: calc(60s / 18 * (18 - 3) * -1); }
.item4  { animation-delay: calc(60s / 18 * (18 - 4) * -1); }
.item5  { animation-delay: calc(60s / 18 * (18 - 5) * -1); }
.item6  { animation-delay: calc(60s / 18 * (18 - 6) * -1); }
.item7  { animation-delay: calc(60s / 18 * (18 - 7) * -1); }
.item8  { animation-delay: calc(60s / 18 * (18 - 8) * -1); }
.item9  { animation-delay: calc(60s / 18 * (18 - 9) * -1); }
.item10 { animation-delay: calc(60s / 18 * (18 - 10) * -1); }
.item11 { animation-delay: calc(60s / 18 * (18 - 11) * -1); }
.item12 { animation-delay: calc(60s / 18 * (18 - 12) * -1); }
.item13 { animation-delay: calc(60s / 18 * (18 - 13) * -1); }
.item14 { animation-delay: calc(60s / 18 * (18 - 14) * -1); }
.item15 { animation-delay: calc(60s / 18 * (18 - 15) * -1); }
.item16 { animation-delay: calc(60s / 18 * (18 - 16) * -1); }
.item17 { animation-delay: calc(60s / 18 * (18 - 17) * -1); }
.item18 { animation-delay: calc(60s / 18 * (18 - 18) * -1); }


/* Responsiveness */
@media screen and (max-width: 1200px) {
  .wrapper { height: 100px; }
  .item { width: 80px; height: 80px; }
}
@media screen and (max-width: 992px) {
  .wrapper { height: 90px; }
  .item { width: 70px; height: 70px; }
}
@media screen and (max-width: 768px) {
  .wrapper { height: 80px; }
  .item { width: 60px; height: 60px; }
}
@media screen and (max-width: 576px) {
  .wrapper { height: 60px; }
  .item { 
    width: 50px;
    height: 50px;
    margin: 0 15rem;
  }
}
