.wrapper {
  width: 100%;
  margin-inline: auto;
  position: relative;
  height: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}


@keyframes slideLeft {
  0% {
    left: 100%;
  }
 
  100% {
    left: -100%;
  }
}

.item {
  width: 150px;
  height: 150px;
  position: absolute;
  animation: slideLeft 35s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: transform 0.6s ease;
  will-change: transform;
}


.item:hover {
  transform: scale(1.05);
}

/* Animation delays pour 18 items */
.item1  { animation-delay: calc(35s / 6 * (6 - 1) * -1); }
.item2  { animation-delay: calc(35s / 6 * (6 - 2) * -1); }
.item3  { animation-delay: calc(35s / 6 * (6 - 3) * -1); }
.item4  { animation-delay: calc(35s / 6 * (6 - 4) * -1); }
.item5  { animation-delay: calc(35s / 6 * (6 - 5) * -1); }
.item6  { animation-delay: calc(35s / 6 * (6 - 6) * -1); }
.item7  { animation-delay: calc(35s / 6 * (6 - 7) * -1); }
.item8  { animation-delay: calc(35s / 6 * (6 - 8) * -1); }
.item9  { animation-delay: calc(35s / 6 * (6 - 6) * -1); }




.item10 { animation-delay: calc(35s / 6 * (6 - 10) * -1); }
.item11 { animation-delay: calc(35s / 6 * (6 - 11) * -1); }
.item12 { animation-delay: calc(35s / 6 * (6 - 12) * -1); }
.item13 { animation-delay: calc(35s / 6 * (6 - 13) * -1); }
.item14 { animation-delay: calc(35s / 6 * (6 - 14) * -1); }
.item15 { animation-delay: calc(35s / 6 * (6 - 15) * -1); }
.item16 { animation-delay: calc(35s / 6 * (6 - 16) * -1); }
.item17 { animation-delay: calc(35s / 6 * (6 - 17) * -1); }
.item18 { animation-delay: calc(35s / 6 * (6 - 6) * -1); }


/* Responsiveness */
@media screen and (max-width: 1200px) {
  .wrapper { height: 100px; }
  .item { width: 80px; height: 80px; }
}
@media screen and (max-width: 992px) {
  .wrapper { height: 90px; }
  .item { width: 70px; height: 70px; }
}


@media screen and (max-width: 576px) {
  .wrapper { height: 90px; }
  .item {
    width: 65px;
    height: 65px;
    animation: slideLeft 20s linear infinite;
  }
  /* Animation delays pour 18 items */
.item1  { animation-delay: calc(20s / 6 * (6 - 1) * -1); }
.item2  { animation-delay: calc(20s / 6 * (6 - 2) * -1); }
.item3  { animation-delay: calc(20s / 6 * (6 - 3) * -1); }
.item4  { animation-delay: calc(20s / 6 * (6 - 4) * -1); }
.item5  { animation-delay: calc(20s / 6 * (6 - 5) * -1); }
.item6  { animation-delay: calc(20s / 6 * (6 - 6) * -1); }
.item7  { animation-delay: calc(20s / 6 * (6 - 7) * -1); }
.item8  { animation-delay: calc(20s / 6 * (6 - 8) * -1); }
.item9  { animation-delay: calc(20s / 6 * (6 - 6) * -1); }




.item10 { animation-delay: calc(20s / 6 * (6 - 10) * -1); }
.item11 { animation-delay: calc(20s / 6 * (6 - 11) * -1); }
.item12 { animation-delay: calc(20s / 6 * (6 - 12) * -1); }
.item13 { animation-delay: calc(20s / 6 * (6 - 13) * -1); }
.item14 { animation-delay: calc(20s / 6 * (6 - 14) * -1); }
.item15 { animation-delay: calc(20s / 6 * (6 - 15) * -1); }
.item16 { animation-delay: calc(20s / 6 * (6 - 16) * -1); }
.item17 { animation-delay: calc(20s / 6 * (6 - 17) * -1); }
.item18 { animation-delay: calc(20s / 6 * (6 - 6) * -1); }

}
